/* ruecktechnik.github.io/style.css */

html,body { margin:0; padding:0; height:100%; 
    background-color: #141414; 
	color: #c0c0c0;
}

A:link { color: #a0a0e0; text-decoration: none; }
A:visited { color: #a0a0a0; text-decoration: none; }
A:hover { color: #a0a0e0; background-color: black; text-decoration: none; }

.banner {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 11%;
	background-color: black;
}

